<h1>Add bookmark:</h1>

<form action="/confirm" method="POST">
  <input type='text' name='url' placeholder='URL'>
  <input type='text' name='title' placeholder="Title">
  <input type='submit' value="Submit">
</form>

